@using App.Dto.CommentDto
@model List<ListCommentDto>

<h3>Yorumlar (@ViewBag.CommentCount)</h3>

@foreach (var item in Model)
{
    <div class="comment d-flex align-items-start mb-3">
        <img src="@item.UserImage" class="rounded-circle me-3" style="width:60px; height:60px; object-fit:cover;" />
        <div>
            <h5>@item.UserName</h5>
            <p>@item.Content</p>

            @if (!string.IsNullOrEmpty(item.EventImage))
            {
                <div class="mb-2">
                    <img src="@item.EventImage" class="img-fluid mb-1" style="max-width: 300px;" />
                </div>
            }

            <small class="text-muted d-block mt-1">
                @item.CreatedAt.ToString("dd MMMM yyyy HH:mm")
            </small>
        </div>
    </div>
}
